body {
    background-color: #9A7AAC;
    font-family: 'Courier New', Courier, monospace;
    color: #DFD7E4;
}

h1,
h2 {
    background-color: #5B2878;
}

h1 {
    text-align: center;
}

a {
    color: #DFD7E4;
}

a:hover {
    text-decoration: none;
    color: #5B2878;
}

ol {
    list-style: decimal-leading-zero;
}

.main-link {
    font-size: 24px;;
}

.recipe-list {
    list-style: none;
}

.content {
    background-color: #7B4F93;
}